.username-dt{
    background-color: #F8C760;
}
.post-topbar{
    border-top-color:#F8C760;
}
.confirm-btn{
    background-color: #F8C760;
}
.confirm-btn:hover{
    background-color: #f3cd7e;
}
.view-profile a{
    color: #F8C760 !important;
}
.view-more a{
    color: #F8C760 !important;
}
.suggestion-usd > span i:hover {
    background-color: #F8C760;
    color: #fff;
    border-radius: 3px;
}
.modal-header{
    background-color: #F8C760;
}
.request-confirmation{
    background-color: #F8C760;
    border-color: transparent;
}
.request-confirmation:hover{
    background-color: #F8C760;
}
.notification-sender{
    color: #339DAA;
    font-weight: 600;
}
.notification-platform{
    color: #339DAA;
    font-weight: 600;
}

/** rating **/

div.stars {
    display: inline-block;
}

input.star { display: none; }

label.star {

}
input.star:checked ~ label.star:before {
    content: '\f005';
    color: #ffd23f;
    transition: all .25s;
}
input.star-5:checked ~ label.star:before {
    color: #ffdc51;
    text-shadow: 0 0 5px
    #7f8c8d;
}

input.star-1:checked ~ label.star:before { color: #ff7e1a; }
input.star-2:checked ~ label.star:before { color: #ffac40; }
label.star:before {
    font-family: FontAwesome;
    content: '\f006';

    /*font-family: "Font Awesome 5 Brands"; content: "\f099";*/
}
.horline > li:not(:last-child):after {
    content: " |";
}
.horline > li {
    font-weight: bold;
    color:
        #ff7e1a;
}

/** end rating **/
