.with-collaborator-name{
    color: #81acdb !important;
}
.with-collaborator-name:hover{
    color: #6c6cff !important;
}

.collaboration-description p{

    color: #81acdb !important;
}
.text-center{

}
