header {
    background-color: #f27684 !important;
}

#footer{
    background-color: #f27684 !important;
}

.search-bar form button i{
    color: #f27684 !important;
}
.user-account {

    border-left: 1px solid #c75761 !important;
    border-right: 1px solid #c75761 !important;

}
@media (max-width: 1200px){
header nav {

    background-color: #A9DBE9 !important;

}
}
