/*-------------------------------------Header Style ----------------------------------*/
.navbar{
    background-color: #F27684;
}

.btn-outline-success {
    background: transparent;
    border-color: #C9CBDA !important;
    color: #C9CBDA !important;
}

.navbar-toggler{
    border-color: #FED046 !important;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(254,208,70)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
/*-------------------------------------End Header Style ----------------------------------*/

/*----------------------------------- Form Style -----------------------------------------*/

.displayNone{
    display: none !important;
}
.bs-stepper .step.active .bs-stepper-circle {
    background-color: #F27684 !important;
    box-shadow: 0 0.1875rem 0.375rem 0 #cc9097 !important;
    color: #fff ;
}

.btn-primary {
    background-color: #F27684 !important;
    border-color: #F27684 !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(204 144 151 / 40%) !important;
    color: #fff;

}
.bs-stepper .step.crossed+.line i {
    color:  #F27684 !important;
}
.bs-stepper .step.crossed .step-trigger .bs-stepper-circle {
    background-color: rgb(204 144 151 / 40%)!important;
    color: #F27684 !important;
}
.form-control:focus, .form-select:focus {
    border-color: #F27684 ;
}
.bs-stepper .step.active .bs-stepper-label .head.label{
    color: #F27684!important;
}
/*----------------------------------- End Form Style -----------------------------------------*/
.avatar-button{
background-color: #F27684 !important;
    color: #ffffff !important;
}
.avatar-image{
    border-radius: 160px 160px 160px 160px;
}

.instagram-link{
    background: #e9ecef !important;
    border-radius: 5px 0px 0px 5px !important;
}
.instagram-username{
    border-radius: 0px 5px 5px 0px !important;
}
